{% extends 'base.html.twig' %}

{% block title %}Hello MentionController!{% endblock %}

{% block body %}

<h1 class="marg">Mentions légales</h1>
<div class="block">
<h2 class="titre2">Éditeur</h2>
<p>Luxe Immo 
    <br>
    5 Avenue Princesse Alice
    <br>
    98000 Monaco
    <br>
    Monaco
    <br>
    Téléphone : +377 97 98 20 00
    <br>
    Registre du commerce : 01S03907
</p>
</div>
<div class="block">
<h2 class="titre2">Hébergeur</h2>
<p>
    Monaco Telecom SAM.
    <br>
    Capital de 1.687.640 €
    <br>
    25 bd de Suisse
    <br>
    98008 MONACO CEDEX
    <br>
    Téléphone : +377 99 66 68 86
    <br>
    
    Registre du commerce : 97S03277
</p>
</div>

<h2 class="titre2">Utilisation des cookies</h2>
<h3 class="titre3">Qu'est ce qu'un cookie ?</h3>
<div class="Mentions">
    <p>
        Un cookie est un petit fichier texte que les sites web sauvegardent sur votre ordinateur ou appareil mobile lorsque vous les consultez. Il permet 
        <br>
        à ces sites de mémoriser vos actions et préférences (nom d'utilisateur, langue, taille des caractères et autres paramètres d'affichage) pendant un 
        <br>
        temps donné, pour que vous n'ayez pas à réindiquer ces informations à chaque fois vous consultez ces sites ou naviguez d'une page à une 
        <br>
        autre   
        <br>
    </p>
<h3 class="titre3">Comment puis-je désactiver les cookies ?</h3>
    <p>
        Vous pouvez contrôler et/ou supprimer des cookies comme vous le souhaitez. Pour en savoir plus, consultez aboutcookies.org. Vous avez la 
        <br>
        possibilité de supprimer tous les cookies déjà stockés sur votre ordinateur et de configurer la plupart des navigateurs pour qu'ils les bloquent.
        <br> 
        Toutefois, dans ce cas, vous devrez peut-être indiquer vous-mêmes certaines préférences chaque fois que vous vous rendrez sur un site, et
        <br>
         certains services et fonctionnalités risquent de ne pas être accessibles.
    <br>
</p>
<h3 class="titre3">Pourquoi Luxe Immo utilise des cookies ?</h3>
<p>
    Luxe Immo utilise des cookies pour notamment :
    <br>
Gérer vos préférences lors de la navigation sur le site
<br>
Améliorer nos services et permettre une mesure de l'audience
<br>
D'autres cookies peuvent être ajoutés par des applications tierces tel que les boutons de partages des réseaux sociaux.
</p>
</div>

{% endblock %}
