{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
    <section class="formulaire margintop" >
        <div class="container ">
            

            <div class="jumbotron jumbotron-fluid col-md-7 mx-auto">
                <form class="mx-5">
                    <div class="row mx-auto">
                        <div class="form-group col-md-6 required">
                            <label class="texteb" for="nom">Nom</label>
                            <input type="text" class="form-control" id="nom" pattern="[a-zA-z]{2,30}" title="Ne doit contenir que des lettres
                        et ne pas faire plus de 30 caractères">
                        </div>
                        <div class="form-group col-md-6 required">
                            <label class="texteb" for="prenom">Prénom</label>
                            <input type="text" class="form-control" id="prenom" pattern="[a-zA-z]{2,30}" title="Ne doit contenir que des lettres
                        et ne pas faire plus de 30 caractères">
                        </div>
                    </div>
                    <div class="form-group col-md-12 required">
                        <label class="texteb" for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="Nom@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[com,fr]{2,3}$">
                    </div>
                    <div class="form-group col-md-12 required">
                        <label class="texteb" for="tel">Téléphone</label>
                        <input type="text" class="form-control" id="tel"  pattern="(?:[\s.-]*\d{2}){5}">
                    </div>
                    <div class="form-group col-md-12 required">
                        <label class="texteb" for="mdp">Mot de Passe</label>
                        <input type="password" class="form-control" id="mdp"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                               title="Doit contenir au moins une masjuscule, une minuscule et un chiffre et faire plus de 8 caractères">
                    </div>
                    <div class="form-group col-md-12 required">
                        <label class="texteb" for="date">Date de naissance</label>
                        <input type="text" class="form-control" id="date" placeholder="jj/mm/aaaa" pattern="((?:0[1-9])|(?:1[0-2]))\/((?:0[0-9])|(?:[1-2][0-9])|(?:3[0-1]))\/(\d{4})">
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn texteb">Cliquez ici</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
