{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
    <section class="formulaire" >
        <div class="container">
            <h1 class="display-4inscriptiontext-centermy-3formm ">Inscription</h1>

            <div class="jumbotron jumbotron-fluid col-md-7 mx-auto">
                <form class="mx-5" method="POST" action="add_user">
                    <div class="row mx-auto">
                    <div class="form-group col-md-6 required">
                            <label class="texteb" for="nom">Identifiant</label>
                            <input type="text" class="form-control" name="username" id="username" pattern="[a-zA-z]{2,30}" title="Ne doit contenir que des lettres
                        et ne pas faire plus de 30 caractères">
                        </div>
                        <div class="form-group col-md-6 required">
                            <label class="texteb" for="nom">Nom</label>
                            <input type="text" class="form-control" name="nom" id="nom" pattern="[a-zA-z]{2,30}" title="Ne doit contenir que des lettres
                        et ne pas faire plus de 30 caractères">
                        </div>
                        <div class="form-group col-md-6 required">
                            <label class="texteb" for="prenom">Prénom</label>
                            <input type="text" class="form-control" name="prenom" id="prenom" pattern="[a-zA-z]{2,30}" title="Ne doit contenir que des lettres
                        et ne pas faire plus de 30 caractères">
                        </div>
                    </div>
                    <div class="form-group col-md-12 required">
                        <label class="texteb" for="email">E-mail</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Nom@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[com,fr]{2,3}$">
                    </div>
                    <div class="form-group col-md-12 required">
                        <label class="texteb" for="tel">Téléphone</label>
                        <input type="text" class="form-control" name="tel" id="tel"  pattern="(?:[\s.-]*\d{2}){5}">
                    </div>
                    <div class="form-group col-md-12 required">
                        <label class="texteb" for="mdp">Mot de Passe</label>
                        <input type="password" class="form-control" name="mdp" id="mdp"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                               title="Doit contenir au moins une masjuscule, une minuscule et un chiffre et faire plus de 8 caractères">
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn texteb">Cliquez ici</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
